.administrador{

    height: 700px;
    background-color: #CCC;


}

.boton-admin{

min-width: 220px;
margin: 5px;
border: 1px solid black;
}

.carta{
    margin: 50px;
    padding: 0px;
    width: 290px;
    height: 320px;
    border: 10px solid gray;

    
}

.carta img{
    margin: 0px;
    padding: 0px;
    height: 300px;
    object-fit: cover;
    width: 270px;


}